body{
      /* google-font style */
font-family: 'Poppins', sans-serif;
margin: 0;
}
.top-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #161212;
    border-radius: 30px;
    margin-top: 50px;
    margin-left: 140px;
    margin-right: 140px;
    margin-bottom: 140px;
}
.title{
    font-weight: 700;
    font-size: 60px;
}
.headline{

    color: aliceblue;
    width: 531px;
    height: 424px;
    margin-left: 140px;
    margin-bottom: 50px;
    border-radius: 5px;
}
.display-pic img{
    width: 581px;
    height: 613px;
}
.info p{
    font-size: 16px;
}
.watch{
    background-color: hsl(0, 95%, 54%);
    border-radius: 5px;
    padding:5px 20px;
    
}
.live{
    text-decoration: none;
    color: aliceblue;
}

/* second-section */
.second-section{
    background-color: #161212;
    border-radius: 10px;
    width: 312px;
    height: 312px;
    margin-left: 140px;

}
.sit-bar{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-row-gap: 15px;
    width: 242px;
    height: 242px;
    margin: 20px;

    
}
.button-menu-1{
    margin-top: 20px;
}

.button-menu{
    background-color: bisque;
    border-radius: 10px;
    padding: 20px;
    width: 230px;
    font-size: 20px;
    margin-left: 20px;
}   
.button-menu-link{
    text-decoration: none;
    color: black;

}
.button-menu-3{
    background-color: hsl(0, 95%, 54%);
    margin-bottom: 20px;
}

.display-transfer{
    display: flex;
    flex-direction: column;
    width: 280px;
    height: 366px;
    border: 0.25px solid rgb(245, 233, 233);
    border-radius: 10px;
}
.transfer img{
    width: 280px;
    height: 175px;
}
.transfer-info{
    margin: 20px;
}
.button-1{
    width: 100px;
    height: 32px;
    font-size: 16px;
    border-radius: 5px;
}
.duration-box{
    display: flex;
    width: 143px;
    height: 26px;
    justify-content: space-between;
}
h3{
    font-size: 18px;
    font-weight: 600;
}
.full-display-transfer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 15px;
    grid-row-gap: 20px;
}
.second-section{
   display: grid;
   grid-template-columns: repeat(2,1fr);
   grid-column-gap: 50px;
    
}
.footer-section{
    background-color: #03000c;
   width: 1600px;
   height: 400px;
   margin-top: 930px;
}
.footer-head{
    text-align: center;
    color: aliceblue;
    font-size: 40px;
    padding-top: 100px;
    padding-bottom: 20px;
}
hr{
    border:1px solid rgb(254, 252, 252);
    height: 0;
}


.navigation a{
    text-decoration: none;
    color: azure;
    margin: 50px;
  }
  .navigation > ul{
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }