body{
      /* google-font style */
font-family: 'Poppins', sans-serif;
margin: 0;
}
.top-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #161212;
    border-radius: 30px;
    margin-top: 50px;
    margin-left: 140px;
    margin-right: 140px;
    margin-bottom: 140px;
}
.title{
    font-weight: 700;
    font-size: 60px;
}
.headline{

    color: aliceblue;
    width: 531px;
    height: 424px;
    margin-left: 140px;
    margin-bottom: 50px;
    border-radius: 5px;
}
.display-pic img{
    width: 581px;
    height: 613px;
}
.headline p{
    font-size: 16px;
}
.watch{
    background-color: hsl(0, 95%, 54%);
    border-radius: 5px;
    padding:5px 20px;
    
}
.live{
    text-decoration: none;
    color: aliceblue;
}
main{
    margin: 130px 0;
}
.display-pic{
    transition: transform .5s ease-in-out;
}
.top-section:hover .display-pic{
    transform: rotate(5deg);
    transform-origin: top left;
}

/* second-section */
.second-section{
    background-color: #161212;
    border-radius: 10px;
    width: 312px;
    height: 312px;
    margin-left: 140px;

}
.sit-bar{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-row-gap: 15px;
    width: 242px;
    height: 242px;
    margin: 20px;

    
}
.button-menu-1{
    margin-top: 20px;
}

.button-menu{
    background-color: bisque;
    border-radius: 10px;
    padding: 20px;
    width: 230px;
    font-size: 20px;
    margin-left: 20px;
}   
.button-menu-link{
    text-decoration: none;
    color: black;

}
.button-menu-3{
    background-color: hsl(0, 95%, 54%);
    margin-bottom: 20px;
}
.button-menu-2:hover{
    background-color: aqua;
}


.display-transfer{
    display: flex;
    flex-direction: column;
    width: 280px;
    height: 366px;
    border: 0.25px solid rgb(245, 233, 233);
    border-radius: 10px;
}
.transfer img{
    width: 280px;
    height: 175px;
}
.transfer-info{
    margin: 20px;
}
.button-1{
    width: 100px;
    height: 32px;
    font-size: 16px;
    border-radius: 5px;
}
.duration-box{
    display: flex;
    width: 143px;
    height: 26px;
    justify-content: space-between;
}
h3{
    font-size: 18px;
    font-weight: 600;
}
.full-display-transfer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 15px;
    grid-row-gap: 20px;
}
.second-section{
   display: grid;
   grid-template-columns: repeat(2,1fr);
   grid-column-gap: 50px;
    
}
.vew{
    margin-top: 900px;
    margin-left: 755px;
}
.vew-none{
    display: none;
}
.footer-section{
    background-color: #03000c;
   width: 1600px;
   height: 400px;
   margin-top: 30px;
  
}
.footer-head{
    text-align: center;
    color: aliceblue;
    font-size: 40px;
    padding-top: 100px;
    padding-bottom: 20px;
}
hr{
    border:1px solid rgb(254, 252, 252);
    height: 0;
}


.navigation a{
    text-decoration: none;
    color: azure;
    margin: 50px;
  }
  .navigation > ul{
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
.social-link{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    color: azure;
    column-gap: 40px;
}
.social-link a{
    text-decoration: none;
    color: blue;
  }

@media only screen and (max-width:676px) {
    body {
          margin: 0;
          margin-right: -10px;
    }
    .top-section{
        flex-direction: column;
        margin: 0;
        width: 90%;
        justify-content: space-evenly;
        margin-left: 20px;
        margin-top: 20px;
        text-align: center;
        margin-bottom: 0;
    }
   
    .title{
        font-size: 22px;
    }
    .headline p{
        font-size: 14px;
    }
    .headline{
        justify-content: center;
        align-items: center;
        width: 300px;
        height: 200px;
        margin-left: 0;
    }
    .second-section{
        grid-template-columns: repeat(1,1fr);
        width: 100%;
        margin-left: 50px;
        margin-bottom: 20px;
        background-color: white;
        margin-top: -50px;
    }
    .sit-bar{
        justify-content: center;
        align-items: center;
        margin-left: 20px;

    }
    .full-display-transfer{
        grid-template-columns: repeat(1,1fr);
        margin-top: 50px;
        margin-left: 20px;
    }
    .vew-none{
        display: none;
    }
    .footer-section{
        margin-top: 3500px;
        text-align: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    .navigation > ul{
        flex-direction: column;
       
        margin-top: 50px;
      }
      .social-link{
        padding: 20px;
      }
      
}

@media only screen and (min-width:677px) and (max-width:992px) {
    body{
        margin: 0;
    }
    .top-section{
       width: 90%;
       height: 90%;
       margin-left: 50px;
       margin-right: 50px;
    }
    .headline{
        height: 700px;
        margin-top: 100px;
        margin-left: 80px;
        margin-bottom: 0;
    }
    .title{
        font-size: 40px;
    }
    .headline p{
        font-size: 16px;
    }
    .display-pic img{
        width: 500px;
        height: 500px;
    }
    .second-section{
        grid-template-columns: repeat(1,1fr);
        width: 351px;
        margin-left: 50px;
        margin-bottom: 20px;
        background-color: white;
        margin-top: -50px;
    }
    .sit-bar{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-column-gap: 15px;
        margin: 0;
        align-items: center;

    }
    .button-menu-1{
        margin-top: 0;
    }
    .button-menu-3{
        margin-bottom: 0;
    }
    .full-display-transfer{
        grid-template-columns: repeat(2,1fr);
        margin-top: 50px;
        margin-left: 100px;
        margin-right: 0;
        justify-content: center;
        align-items: center;
        width: 100%;
    
    }
    .vew-none{
        display: block;
        margin-top: 1950px;
        justify-content: center;
        align-items: center;
        margin-left: -260px;
    }
    .footer-section{
        width: 100%;
        height: 100%;
        margin-top: 50px;
    }
    
    .navigation > ul{
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 50px;
        gap: 15px;
      }
      .social-link{
        padding: 20px;
      }


}


